/build/
/bin/
/.settings/
/.classpath
/.project
/.gradle/
/.idea/
/eclipse/
/EBLib_Client.launch
/EBLib_Server.launch
/config/
/logs/
/saves/
/options.txt
/usercache.json
/usernamecache.json
/gradle/
*.iml
local.properties
*.bat
gradlew
